@charset "UTF-8";

body{
    background-color: azure;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(32, 136, 32)
}

h1#principal{
    text-align: center;
    background-color: rgb(32, 179, 32);
    color: white;
}

h2{
    color: rgba(20, 124, 30, 0.801);
}

.basico{
    color: brown;
    font-weight: bold;
}
.intermediario{
    color: blue;
}
.avancado{
    color: rgb(179, 179, 14);
}
.destaque{
    background-color: rgb(242, 242, 101);
}