@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Farro:wght@300;400;500;700&family=Fasthand&family=Jersey+10&family=Orbitron:wght@400..900&family=Pixelify+Sans:wght@400..700&display=swap');

:root {
    --font01: Arial, Helvetica, sans-serif;
    --font02: "Farro", sans-serif;
    --font03: "Fasthand", cursive;
}
*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}
html, body{
    font-family: var(--font01);
    min-height: 100vh;
    background-color: rgb(224, 223, 223);
}

header{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 4vh;
}
header > h1{
    padding-top: 60px;
    font-variant: small-caps;
    font-family: var(--font02);
    font-size: 3em;
}
header > p{
    padding-bottom: 50px;
}
header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
header a:hover, footer a:hover{
    text-decoration: underline;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 50px;
    font-family: var(--font03);
    font-size: 4vh;
}
section.branco{
    background-color: white;

}
section.img{
    background-color: rgb(73, 73, 73);
    color: white;
}
section.img > p{
    display: inline-block;
    background-color: black;
    padding: 30px;
    
}
footer{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}